# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Environment Variables
.env*.local
.env

# Prisma
# Ignore the SQLite database file
prisma/registry.db
# Ignore generated Prisma client
node_modules/@prisma/client

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# IDEs and configuration files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS file attributes
._*
.vercel
*.tsbuildinfo
